<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/vendors/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("_NavigationLeft")
            @Html.Partial("_NavigationTop")
            @RenderBody()
            @Html.Partial("_Footer")
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
